[package]
name = "fc-userscan"
version = "0.3.0"
authors = ["Christian Kauhaus <kc@flyingcircus.io>"]
description = """\
Scans files for Nix store references and registers them with the Nix garbage collector.
"""
repository = "https://github.com/flyingcircusio/userscan"
readme = "README.md"
categories = ["command-line-utilities", "filesystem", "os"]
license = "BSD-3-Clause"

[dependencies]
atty = "0.2"
bytesize = "0.1"
clap = "2"
colored = "1"
crossbeam = "0.2"
env_logger = "0.4"
fnv = "1"
ignore = "0.2"
lazy_static = "0.2"
log = "0.3"
memmap = "0.5"
minilzo = "0.2"
nix = "0.9"
regex = "0.2"
rmp-serde = "0.13"
serde = "1"
serde_derive = "1"
twoway = "0.1"
users = "0.5"
zip = "0.2"
cpuprofiler = {version = "*", optional = true}

[dependencies.error-chain]
version = "0.10"
default-features = false

[dev-dependencies]
tempdir = "0.3"

[features]
profile = ["cpuprofiler"]

[profile.test]
#opt-level = 1
